<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title><%= title %></title>
</head>
<style>
    .page-wrapper {
        margin:0;
        padding-top: 30px;
        height: 80px;
        width:100%;
        background-color:rgba(0,0,0,0.1);
    overflow: hidden;
    }
   .logo
   {
    text-align: center;
       text-decoration: none;
       font-size: 30px;
       color:rgb(10, 147, 150);
   }
   .bar
   {
    float: left;
  color:rgb(62, 171, 243);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  float:right;
   }
   a:hover {
  background-color: #ddd;
  color: black;
}
    .player-img {
        width: 80px;
        height: 70px;
    }

    .add-player-form {
        margin-top: 50px;
    }
</style>
<body>
<div class="page-wrapper">
    <nav class="navbar">
        <span class="logo" >Socka Players</span>
        <a class="bar" href="/add" title="Add a New Player">Add a Player</a>
    </nav>
</div>
<br/> <br/> 